<footer>
  <nav>
    <div class="m-container">
      <div class="m-row">
        <div class="m-col-l-10 m-push-l-1">
          <p>
            Copyright &copy; 2018 <a href="https://alt.icu">ALTiCU</a>.<br/>
            <a href="//alt.icu/privacy">Privacy Policy</a>
          </p>
          <p>
            This work is licensed under a
            <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br/>
            <a href="https://gitlab.com/ALTiCU/blog.alt.icu/blob/master/{{ page.path }}">Page source</a>
          </p>
        </div>
      </div>
    </div>
  </nav>
</footer>
