<header>
    <nav id="navigation">
        <div class="m-container">
            <div class="m-row">
                <a href="{{ "/" | relative_url }}" id="m-navbar-brand" class="m-col-t-8 m-col-m-none m-left-m">{{ site.title | escape }}</a>
                <a id="m-navbar-show" href="#navigation" title="Show navigation" class="m-col-t-3 m-hide-m m-text-right"></a>
                <a id="m-navbar-hide" href="#" title="Hide navigation" class="m-col-t-3 m-hide-m m-text-right"></a>
                <div id="m-navbar-collapse" class="m-col-t-12 m-show-m m-col-m-none m-right-m">
                    <div class="m-row">
                        <ol class="m-col-t-6 m-col-m-none">
                            {% for path in page_paths %} {% assign my_page = site.pages | where: "path", path | first %} {% if my_page.title %}
                            <li>
                                <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                            </li>
                            {% endif %} {% endfor %}
                            <li>
                                <a href="/about/">About</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>