---
layout: default
---

<div class="m-row">
  <article class="m-col-l-10 m-push-l-1">
    <section id="posts">
      <h1>Posts {{ page.category }}</h1>
      {% for post in page.posts %}
      <div class="m-block m-default">
        <h3>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <div class="post-tags">
          {% if post.tags %} {% for tag in post.tags %}
          <span class="m-label m-dim">
            <a href="{{ site_url }}/tag/{{ tag }}">{{ tag }}</a>
          </span>
          {% endfor %} {% endif %}
        </div>
      </div>
      {% endfor %}
    </section>

  </article>
</div>
