<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      <div class="m-container m-container-inflatable">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include analytics.html %}
  </body>

</html>
