---
layout: default
---

<div class="m-row">
  {{ content }}
  <article class="m-col-l-10 m-push-l-1">
    <section id="posts">
      <h1>Posts</h1>
      {% for post in site.posts %}
      <div class="m-block m-default">
        <h3>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <div class="post-tags">
          {% if post.tags %} {% for tag in post.tags %}
          <span class="m-label m-dim">
            <a href="{{ site_url }}/tag/{{ tag }}">{{ tag }}</a>
          </span>
          {% endfor %} {% endif %}
        </div>
      </div>
      {% endfor %}
      <aside class="m-note m-default m-info">
        <h3>Subscribe to our blog</h3>
        <p>
          You can
          <a href="{{ "/feed.xml" | relative_url }}">subscribe to our blog via RSS</a> to stay up to date!
        </p>
      </aside>
    </section>

  </article>
</div>
