---
layout: default
---

<div class="m-row">
  <article>
    <div class="m-col-m-8">
      <header>
        <h1>{{ page.title | escape }}</h1>
        <!-- <p>{{ page.excerpt }}</p> -->
        <div class="post-meta">
          <aside class="m-note m-default">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} {{ page.date | date: date_format }}
            </time>
            <div class="post-tags">
              {% if page.tags %} Tagged: {% for tag in page.tags %}
                <span class="m-label m-default">
                  <a href="{{ site_url }}/tag/{{ tag }}">{{ tag }}</a>
                </span>
              {% endfor %} {% endif %}
            </div>
          </aside>
        </div>
      </header>
      <div class="m-clearfix-l"></div>
      <div class="row">
        <div class="m-col-m12 m-nopadx">
          <!-- content -->
          {{ page.content }}
          <!-- /content -->
        </div>
      </div>
    </div>
    {% if page.authors %}
    <nav class="m-navpanel m-col-m-4">
      {% for author_id in page.authors %} {% assign author = site.authors[author_id] %}
      <div class="m-block m-badge m-info">
        <img src="{{ site_url }}/content/authors/{{ author.username }}.png" width="40" height="40" />
        <h3>
          {% if forloop.first %} By {% else %} & {% endif %}
          <a href="{{ site_url }}/{{ author.username }}"><b>{{ author.name }}</b></a>
        </h3>
        <p class="m-tiny">
          GPG:
          <a href="https://pgp.mit.edu/pks/lookup?op=vindex&search=0x{{ author.gpg }}">
            <code class="m-tiny">{{ author.gpg }}</code>
          </a>
        </p>
      </div>
      {% endfor %}
    </nav>
    {% endif %}
  </article>
</div>
